
.idea/.name
.idea/gradle.xml
.gradle/5.2.1/executionHistory/executionHistory.bin
.gradle/5.2.1/executionHistory/executionHistory.lock
.gradle/5.2.1/fileChanges/last-build.bin
.gradle/5.2.1/fileContent/fileContent.lock
.gradle/5.2.1/fileHashes/fileHashes.bin
.gradle/5.2.1/fileHashes/fileHashes.lock
.gradle/5.2.1/fileHashes/resourceHashesCache.bin
.gradle/5.2.1/gc.properties
.gradle/5.2.1/javaCompile/classAnalysis.bin
.gradle/5.2.1/javaCompile/jarAnalysis.bin
.gradle/5.2.1/javaCompile/javaCompile.lock
.gradle/5.2.1/javaCompile/taskHistory.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.idea/misc.xml
.idea/vcs.xml
.gradle/vcs-1/gc.properties
.idea/workspace.xml
build/classes/java/main/github/ClassUnderTest.class
build/classes/java/test/ct/SampleTest.class
build/classes/java/test/ct/TestThroughTestNg.class
build/html/classes/ct.TestThroughTestNg.html
build/html/css/base-style.css
build/html/css/style.css
build/html/index.html
build/html/js/report.js
build/html/packages/ct.html
build/libs/testing-1.0-SNAPSHOT.jar
build/resources/test/testng.xml
build/test-results/test/binary/output.bin
build/test-results/test/binary/output.bin.idx
build/test-results/test/binary/results.bin
build/test-results/test/TEST-ct.TestThroughTestNg.xml
build/tmp/jar/MANIFEST.MF
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
